# TP Pokemon : Seconde partie (Apprentissage)
### Modules necessaires :
*   PANDAS 0.24.2
*   NUMPY 1.16.3
*   MATPLOTLIB 3.0.3
*   SEABORN 0.9.0
*   SCIKIT-LEARN 0.20.3

# Phase d'apprentissage

Le problème que nous devons résoudre consiste à déterminer si lors d'un combat, un Pokémon a de grandes chances de gagner, nous devons donc prédire le pourcentage de victoire. C'est une valeur et nous utiliserons naturellement les algorithmes de régression, à savoir :

- La régression linéaire
- Les arbres de décisions 
- Les forêts aléatoires

#### - Découper les observations en jeu d'apprentissage et jeu de tests
- Charger le fichier `datas/dataset.csv` et supprimer les lignes pour lesquelles des valeurs sont manquantes
- Extraire les features qui seront source d'apprentissage (données X), et les features que nous devons prédire à partir de ces données d'apprentissagece.

>En d'autres termes, nous devons apprendre à la machine à prédire un pourcentage de victoire d'un Pokémon en fonction de ses points d'attaque (standards et spéciaux), de sa vitesse, de ses points de vie, de ses points de défense (standards et spéciaux), et de son nombre de générations. Il faut donc définir les variables prédictives (X) et la variable à prédire (Y).

## Algorithme de régression linéaire

Un algorithme de régression linéaire modélise les relations entre une variable prédictive et une variable cible.
Dans notre cas, les variables prédictives sont :
- les points de vie
- le niveau d'attaque
- le niveau de défense
- le niveau d'attaque spéciale
- le niveau de défense spécial
- la vitesse et la génération du Pokémon

Et la variable cible (la prédiction) est :
- le pourcentage de victoire


#### - Utiliser l'algorithme de régression linéaire et calculer la précision d'apprentissage. 

#### - Utiliser les arbres de décisions en faisant attention à bien utiliser l'algorithme destiné aux problèmes de régression

####  - Utiliser l'algorithme des forêts aléatoires (toujours appliqué à la régression) 

#### - Quel constat on peut faire? 

#### -  Sauvegarder le modèle d'apprentissage

In [59]:
import pandas as pd

In [60]:
dataset = pd.read_csv("datas/dataset.csv",delimiter='\t')
dataset

,Unnamed: 0,NUMERO,NOM,TYPE_1,TYPE_2,POINTS_DE_VIE,POINTS_ATTAQUE,POINTS_DEFFENCE,POINTS_ATTAQUE_SPECIALE,POINT_DEFENSE_SPECIALE,POINTS_VITESSE,NOMBRE_GENERATIONS,LEGENDAIRE,First_pokemon,Second_pokemon,NBR_COMBATS,NBR_VICTOIRES,POURCENTAGE_DE_VICTOIRES
0,0,1,Bulbizarre,Herbe,Poison,45,49,49,65,65,45,1,0,37.0,37.0,133.0,37.0,0.278195
1,1,2,Herbizarre,Herbe,Poison,60,62,63,80,80,60,1,0,46.0,46.0,121.0,46.0,0.380165
2,2,3,Florizarre,Herbe,Poison,80,82,83,100,100,80,1,0,89.0,89.0,132.0,89.0,0.674242
3,3,4,Mega Florizarre,Herbe,Poison,80,100,123,122,120,80,1,0,70.0,70.0,125.0,70.0,0.560000
4,4,5,Salam�che,Feu,NaN,39,52,43,60,50,65,1,0,55.0,55.0,112.0,55.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,796,Diancie,Roche,F�e,50,100,150,100,150,50,6,1,39.0,39.0,105.0,39.0,0.371429
796,796,797,Mega Diancie,Roche,F�e,50,160,110,160,110,110,6,1,116.0,116.0,131.0,116.0,0.885496
797,797,798,Hoopa confin�,Psy,Spectre,80,110,60,150,130,70,6,1,60.0,60.0,119.0,60.0,0.504202
798,798,799,Hoopa non li�,Psy,Obscur,80,160,60,170,130,80,6,1,89.0,89.0,144.0,89.0,0.618056
799,799,800,Volcanion,Feu,Eau,80,110,120,130,90,70,6,1,75.0,75.0,121.0,75.0,0.619835

In [61]:
dataset.drop(columns = "TYPE_2", inplace = True)
dataset.isnull().sum()

Unnamed: 0                   0
NUMERO                       0
NOM                          0
TYPE_1                       0
POINTS_DE_VIE                0
POINTS_ATTAQUE               0
POINTS_DEFFENCE              0
POINTS_ATTAQUE_SPECIALE      0
POINT_DEFENSE_SPECIALE       0
POINTS_VITESSE               0
NOMBRE_GENERATIONS           0
LEGENDAIRE                   0
First_pokemon               17
Second_pokemon              17
NBR_COMBATS                 17
NBR_VICTOIRES               17
POURCENTAGE_DE_VICTOIRES    17
dtype: int64

In [62]:
dataset.dropna(inplace = True)
dataset.isnull().sum()

Unnamed: 0                  0
NUMERO                      0
NOM                         0
TYPE_1                      0
POINTS_DE_VIE               0
POINTS_ATTAQUE              0
POINTS_DEFFENCE             0
POINTS_ATTAQUE_SPECIALE     0
POINT_DEFENSE_SPECIALE      0
POINTS_VITESSE              0
NOMBRE_GENERATIONS          0
LEGENDAIRE                  0
First_pokemon               0
Second_pokemon              0
NBR_COMBATS                 0
NBR_VICTOIRES               0
POURCENTAGE_DE_VICTOIRES    0
dtype: int64

In [63]:
#X = POINTS_DE_VIE; POINTS_ATTAQUE;POINTS_DEFFENCE;POINTS_ATTAQUE_SPECIALE;POINT_DEFENSE_SPECIALE;POINTS_VITESSE;NOMBRE_GENERATIONS
X = dataset.iloc[:, 4:11]
X

,POINTS_DE_VIE,POINTS_ATTAQUE,POINTS_DEFFENCE,POINTS_ATTAQUE_SPECIALE,POINT_DEFENSE_SPECIALE,POINTS_VITESSE,NOMBRE_GENERATIONS
0,45,49,49,65,65,45,1
1,60,62,63,80,80,60,1
2,80,82,83,100,100,80,1
3,80,100,123,122,120,80,1
4,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...
795,50,100,150,100,150,50,6
796,50,160,110,160,110,110,6
797,80,110,60,150,130,70,6
798,80,160,60,170,130,80,6
799,80,110,120,130,90,70,6

In [66]:
y = dataset.iloc[:, 16:]
y

     POURCENTAGE_DE_VICTOIRES
0                    0.278195
1                    0.380165
2                    0.674242
3                    0.560000
4                    0.491071
..                        ...
795                  0.371429
796                  0.885496
797                  0.504202
798                  0.618056
799                  0.619835

[783 rows x 1 columns]

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [68]:
#Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

model = LinearRegression() 
model_tree = DecisionTreeRegressor()
model_forest = RandomForestRegressor()

In [69]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(model, X, y, cv=3))
print(cross_val_score(model_tree, X, y, cv=3))
print(cross_val_score(model_forest, X, y, cv=3))

[0.91989684 0.86879312 0.91814311]
[0.91217066 0.90975032 0.92606801]

/Users/thudoan/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/thudoan/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[0.94886419 0.94335137 0.95237451]

/Users/thudoan/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [44]:
#Forest
from sklearn.ensemble import RandomForestRegressor
model_forest = RandomForestRegressor()

In [45]:
model_forest.fit(X_Train, Y_Train)

RandomForestRegressor()

In [ ]:
import pickle
with open("model/model_forest", "wb")as f:

In [49]:
dataset = pd.read_csv("datas/dataset.csv",delimiter='\t')

dataset

,Unnamed: 0,NUMERO,NOM,TYPE_1,TYPE_2,POINTS_DE_VIE,POINTS_ATTAQUE,POINTS_DEFFENCE,POINTS_ATTAQUE_SPECIALE,POINT_DEFENSE_SPECIALE,POINTS_VITESSE,NOMBRE_GENERATIONS,LEGENDAIRE,First_pokemon,Second_pokemon,NBR_COMBATS,NBR_VICTOIRES,POURCENTAGE_DE_VICTOIRES
0,0,1,Bulbizarre,Herbe,Poison,45,49,49,65,65,45,1,0,37.0,37.0,133.0,37.0,0.278195
1,1,2,Herbizarre,Herbe,Poison,60,62,63,80,80,60,1,0,46.0,46.0,121.0,46.0,0.380165
2,2,3,Florizarre,Herbe,Poison,80,82,83,100,100,80,1,0,89.0,89.0,132.0,89.0,0.674242
3,3,4,Mega Florizarre,Herbe,Poison,80,100,123,122,120,80,1,0,70.0,70.0,125.0,70.0,0.560000
4,4,5,Salam�che,Feu,NaN,39,52,43,60,50,65,1,0,55.0,55.0,112.0,55.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,796,Diancie,Roche,F�e,50,100,150,100,150,50,6,1,39.0,39.0,105.0,39.0,0.371429
796,796,797,Mega Diancie,Roche,F�e,50,160,110,160,110,110,6,1,116.0,116.0,131.0,116.0,0.885496
797,797,798,Hoopa confin�,Psy,Spectre,80,110,60,150,130,70,6,1,60.0,60.0,119.0,60.0,0.504202
798,798,799,Hoopa non li�,Psy,Obscur,80,160,60,170,130,80,6,1,89.0,89.0,144.0,89.0,0.618056
799,799,800,Volcanion,Feu,Eau,80,110,120,130,90,70,6,1,75.0,75.0,121.0,75.0,0.619835

In [50]:
#To find pokemon acc to numero
#def find_poke(x):
        #chosen = dataset.loc[dataset['NUMERO'] == x ]
        #chosen = chosen.drop(columns = ["NUMERO", "NOM","TYPE_1","TYPE_2","LEGENDAIRE","First_pokemon","Second_pokemon","NBR_COMBATS","NBR_VICTOIRES"])     
        #return chosen

In [70]:
#find_poke(25)